<h1>Edit Existing Blog Post</h1>

<%= render'form' %>

<br>

<%= link_to "Back", blog_post_path(@blog_post), class: "btn btn-info" %> |
<%= link_to "All Blog Posts", root_path, class: "btn btn-default" %>
